# dist file for MathGL

git      /extensions/MathGL            https://github.com/OpenEngineDK/extensions-MathGL.git
git-dev  /extensions/MathGL            git@github.com:OpenEngineDK/extensions-MathGL.git

dist /extensions/TexUtils/TexUtils.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-TexUtils/master/TexUtils.dist

darwin /libraries http://openengine.dk/data/libraries/mathgl-osx64.tgz

